.MainTable tr
{
    vertical-align: text-top;
}

.HeaderRow
{ 
    background-color: #537AB8; 
    color: #FFFFFF;
}

.EmptyCell
{
    border: none;
}

.selectedOption
{
    width: 100%;
    border: none;
}

.LinkButton:link 
{
    text-decoration: none; 
    color: blue;
}

.LinkButton:visited 
{
    text-decoration: none; 
    color: blue;
}

.LinkButton:active 
{
    text-decoration: none; 
    color: blue;
}

.LinkButton:hover 
{
    text-decoration: underline; 
    color: blue;
}