<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="TRNRTL10.My.MySettings.ConnectionString" connectionString="Data Source=dev-bol-sql01;Initial Catalog=Pharmacy_HongKong;User Id=icwsys;Password=ascribe;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntegrationWebService"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IIntegrationWebService"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://asc-xnorman.int.ascribe.com/IntegrationWebService-Testing/IntegrationWebService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIntegrationWebService" contract="EIE.IIntegrationWebService" name="WSHttpBinding_IIntegrationWebService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://asc-xnorman.int.ascribe.com/IntegrationWebService-Testing/IntegrationWebService.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationWebService" contract="EIE.IIntegrationWebService" name="BasicHttpBinding_IIntegrationWebService"/>
    </client>
  </system.serviceModel>
</configuration>
