<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TextControlTemplateConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TemplateStore" value="C:\\ProgramData\\TEMP\\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\ProgramData\EMIS\TemplateConverter\Logs\TextControlTemplateConvertor.Logs.log"/>
      <param name="AppendToFile" value="true"/>
      <threshold value="ALL"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackups value="10"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*%-10level %-30date %message%newline"/>
      </layout>
    </appender>
    <root name="TemplatConversionCode">
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=OmidPayamak;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <TextControlTemplateConverter.Properties.Settings>
      <setting name="PNlabelHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PNlabelWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ManLabelWidth" serializeAs="String">
        <value>76</value>
      </setting>
      <setting name="ManLabelHeight" serializeAs="String">
        <value>38</value>
      </setting>
      <setting name="StoreLabelHeight" serializeAs="String">
        <value>38</value>
      </setting>
      <setting name="StoreLabelWidth" serializeAs="String">
        <value>76</value>
      </setting>
      <setting name="DBserver" serializeAs="String">
        <value/>
      </setting>
      <setting name="DBuser" serializeAs="String">
        <value>icwsys</value>
      </setting>
      <setting name="TemplateStore" serializeAs="String">
        <value>C:\ProgramData\TEMP\</value>
      </setting>
      <setting name="DispLabelHeight" serializeAs="String">
        <value>38</value>
      </setting>
      <setting name="DispLabelWidth" serializeAs="String">
        <value>76</value>
      </setting>
      <setting name="A4Height" serializeAs="String">
        <value>297</value>
      </setting>
      <setting name="A4Width" serializeAs="String">
        <value>210</value>
      </setting>
      <setting name="MarginTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MarginBottom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MarginLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MarginRight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WardLabelHeight" serializeAs="String">
        <value>38</value>
      </setting>
      <setting name="WardLabelWidth" serializeAs="String">
        <value>76</value>
      </setting>
      <setting name="EPMALabelHeight" serializeAs="String">
        <value>38</value>
      </setting>
      <setting name="EPMALabelWidth" serializeAs="String">
        <value>76</value>
      </setting>
      <setting name="LogFilePath" serializeAs="String">
        <value>C:\ProgramData\EMIS\TemplateConverter\Logs\</value>
      </setting>
    </TextControlTemplateConverter.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
