<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ascribe.pharmacy.manufacturinglayer.Properties.Settings.XN_PaperManConnectionString"
            connectionString="Data Source=asc-krathbone\SQL2012;Initial Catalog=XN_PaperMan;Persist Security Info=True;User ID=icwsys;Password=ascribe"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>