/*

    Style sheet for the GRNI control

*/
.fm-grni-table
{
    font-size:          8pt;
    background-color:   white;
    color:              #565652;
    filter:             progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=145, Strength=3);            
}

.fm-grni-table-header-emptycell
{
    background-color: white;
    top:              expression(document.getElementById('table').scrollTop - 2);
    position:         relative;
}

.fm-grni-table-header0
{
    height: 0px;
}

.fm-grni-table-header1
{
    color:            #417f8f;
    background-color: #eaeaea;
    font-weight:      bold;
    text-align:       center;
    height:           22px;
    top:              expression(document.getElementById('table').scrollTop - 2);
    position:         relative;
    text-align:       center;
}

.fm-grni-table-header2
{
    color:            #417f8f;
    background-color: #DCE6FB;
    font-weight:      bold;
    text-align:       center;
    height:           22px;
    top:              expression(document.getElementById('table').scrollTop - 2);
    position:         relative;
    text-align:       center;
}

.fm-grni-table-sitesupplier
{
    background-color: #eaeaea;
    height:           22px;
}

.fm-grni-table-even
{
}

.fm-grni-table-odd
{
    background-color: #FFFFE5;
}

.fm-grni-table-emptyrow
{
    height: 15px;
}

.fm-grni-table-greycell
{
    background-color: #eaeaea;
}

.fm-grni-table-blackcell
{
    background-color: #000000;
    color:            #FFFFFF;
}
