<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TRNRTL10.My.MySettings.ConnectionString" connectionString="Data Source=DEV-BOL-SQL01;Initial Catalog=PHARMACY_UNITTESTS;User Id=icwsys;Password=ascribe;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
